@font-face{font-family:'Architects';src:url(ArchitectsDaughter-Regular.ttf) format('truetype');font-weight:400}
@font-face{font-family:'B612';src:url(B612-Regular.ttf) format('truetype');font-weight:400}
@font-face{font-family:'B612';src:url(B612-Bold.ttf) format('truetype');font-weight:700}
@font-face{font-family:'B612Mono';src:url(B612Mono-Regular.ttf) format('truetype');font-weight:400}
@font-face{font-family:'Allura';src:url(Allura-Regular.ttf) format('truetype');font-weight:400}
