/* Google Fonts, SIL Open Font License 1.1 — latin subsets */
@font-face { font-family: 'Baloo 2'; font-weight: 400 800; font-display: block; src: url(baloo2.woff2) format('woff2'); }
@font-face { font-family: 'Titan One'; font-weight: 400; font-display: block; src: url(titanone.woff2) format('woff2'); }
@font-face { font-family: 'VT323'; font-weight: 400; font-display: block; src: url(vt323.woff2) format('woff2'); }
@font-face { font-family: 'Bungee'; font-weight: 400; font-display: block; src: url(bungee.woff2) format('woff2'); }
