@font-face { font-family: 'Jost'; src: url(Jost.ttf) format('truetype'); font-weight: 100 900; font-display: block; }
@font-face { font-family: 'Bricolage'; src: url(Bricolage.ttf) format('truetype'); font-weight: 200 800; font-stretch: 75% 100%; font-display: block; }
