@font-face { font-family: 'Patrick Hand'; src: url(patrickhand_PatrickHand-Regular.ttf); font-display: block; }
@font-face { font-family: 'Gaegu'; font-weight: 400; src: url(gaegu_Gaegu-Regular.ttf); font-display: block; }
@font-face { font-family: 'Gaegu'; font-weight: 700; src: url(gaegu_Gaegu-Bold.ttf); font-display: block; }
@font-face { font-family: 'Short Stack'; src: url(shortstack_ShortStack-Regular.ttf); font-display: block; }
@font-face { font-family: 'Gochi Hand'; src: url(gochihand_GochiHand-Regular.ttf); font-display: block; }
@font-face { font-family: 'Caveat Brush'; src: url(caveatbrush_CaveatBrush-Regular.ttf); font-display: block; }
@font-face { font-family: 'Sniglet'; src: url(sniglet_Sniglet-Regular.ttf); font-display: block; }
