@font-face{font-family:'Rajdhani';src:url(Rajdhani-Light.ttf);font-weight:300}
@font-face{font-family:'Rajdhani';src:url(Rajdhani-Regular.ttf);font-weight:400}
@font-face{font-family:'Rajdhani';src:url(Rajdhani-Medium.ttf);font-weight:500}
@font-face{font-family:'Rajdhani';src:url(Rajdhani-SemiBold.ttf);font-weight:600}
@font-face{font-family:'ShareTechMono';src:url(ShareTechMono-Regular.ttf);font-weight:400}
