@font-face { font-family: 'BigShoulders'; src: url(BigShouldersDisplay.ttf) format('truetype'); font-weight: 100 900; font-display: block; }
@font-face { font-family: 'Outfit'; src: url(Outfit.ttf) format('truetype'); font-weight: 100 900; font-display: block; }
@font-face { font-family: 'LeagueGothic'; src: url(LeagueGothic.ttf) format('truetype'); font-weight: 400; font-display: block; }
