/* Google Fonts, SIL Open Font License 1.1 */
@font-face { font-family: 'Shippori'; font-weight: 500; font-display: block; src: url(shippori-500.woff2) format('woff2'); }
@font-face { font-family: 'Shippori'; font-weight: 700; font-display: block; src: url(shippori-700.woff2) format('woff2'); }
@font-face { font-family: 'ShipporiK'; font-weight: 600; font-display: block; src: url(shippori-kanji.woff2) format('woff2'); }
@font-face { font-family: 'Yuji'; font-weight: 400; font-display: block; src: url(yuji-kanji.woff2) format('woff2'); }
