@font-face{font-family:'Archivo';src:url('Archivo-VF.ttf') format('truetype');font-weight:100 900;font-stretch:62% 125%;font-style:normal}
@font-face{font-family:'Fraktur';src:url('UnifrakturMaguntia-Regular.ttf') format('truetype');font-weight:400}
@font-face{font-family:'DMSerif';src:url('DMSerifDisplay-Regular.ttf') format('truetype');font-weight:400}
