@font-face { font-family: 'Overpass'; font-weight: 100 900; src: url(Overpass-var.ttf) format('truetype'); font-display: block; }
@font-face { font-family: 'Overpass Mono'; font-weight: 300 700; src: url(OverpassMono-var.ttf) format('truetype'); font-display: block; }
