@font-face { font-family: 'Oleo'; src: url(OleoScript-Regular.ttf) format('truetype'); font-weight: 400; font-display: block; }
@font-face { font-family: 'Oleo'; src: url(OleoScript-Bold.ttf) format('truetype'); font-weight: 700; font-display: block; }
@font-face { font-family: 'Slab'; src: url(AlfaSlabOne-Regular.ttf) format('truetype'); font-display: block; }
@font-face { font-family: 'Jost'; src: url(Jost.ttf) format('truetype'); font-weight: 100 900; font-display: block; }
