@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:300 700;src:url(CormorantGaramond-Italic.woff2) format('woff2');}
@font-face{font-family:'Cormorant SC';font-style:normal;font-weight:500;src:url(CormorantSC.woff2) format('woff2');}
