@font-face{font-family:'Limelight';src:url('Limelight-Regular.ttf')}
@font-face{font-family:'Poiret';src:url('PoiretOne-Regular.ttf')}
@font-face{font-family:'Josefin';src:url('JosefinSans[wght].ttf');font-weight:100 700}
@font-face{font-family:'Italiana';src:url('Italiana-Regular.ttf')}
