/* Google Fonts, SIL Open Font License 1.1（许可证见同目录 OFL-*.txt） */
@font-face { font-family: 'Shrikhand'; font-display: block; src: url(Shrikhand-Regular.ttf); }
@font-face { font-family: 'Limelight'; font-display: block; src: url(Limelight-Regular.ttf); }
@font-face { font-family: 'IM Fell English SC'; font-display: block; src: url(IMFeENsc28P.ttf); }
