@font-face{font-family:'Fraunces';font-weight:100 900;font-style:normal;font-display:block;src:url(Fraunces.ttf) format('truetype')}
@font-face{font-family:'Ma Shan Zheng';font-weight:400;font-style:normal;font-display:block;src:url(MaShanZheng-Regular.ttf) format('truetype')}
