@font-face{font-family:Inter;src:url(Inter.ttf) format('truetype');font-weight:100 900;font-display:block}
@font-face{font-family:InterTight;src:url(InterTight-var.woff2) format('woff2');font-weight:100 900;font-display:block}
@font-face{font-family:JBMono;src:url(JetBrainsMono-var.ttf) format('truetype');font-weight:100 800;font-display:block}
