@font-face{font-family:"IM Fell English";src:url(IMFellEnglish.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:"IM Fell English";src:url(IMFellEnglish-Italic.ttf) format("truetype");font-weight:400;font-style:italic}
@font-face{font-family:"IM Fell English SC";src:url(IMFellEnglishSC.ttf) format("truetype");font-weight:400;font-style:normal}
