@font-face { font-family: 'LGothic'; src: url(LeagueGothic.ttf) format('truetype'); font-weight: 400; font-display: block; }
@font-face { font-family: 'LSpartan'; src: url(LeagueSpartan.ttf) format('truetype'); font-weight: 100 900; font-display: block; }
