@font-face{font-family:'Cormorant';src:url(CormorantGaramond-VF.ttf);font-weight:300 700;font-style:normal}
@font-face{font-family:'Cormorant';src:url(CormorantGaramond-Italic-VF.ttf);font-weight:300 700;font-style:italic}
@font-face{font-family:'CormorantSC';src:url(CormorantSC-Medium.ttf);font-weight:500}
@font-face{font-family:'CormorantSC';src:url(CormorantSC-SemiBold.ttf);font-weight:600}
@font-face{font-family:'MaShanZheng';src:url(MaShanZheng-Regular.ttf)}
@font-face{font-family:'ZhiMangXing';src:url(ZhiMangXing-Regular.ttf)}
